.categories {
	  display: flex;
  	flex-flow: row wrap;
}

.categories .category-item {
  	height: auto;
  	margin-right: -5px;
}

.categories .user-picture {
	  width: 35px;
  	height: 35px;
  	border-radius: 50%;
  	line-height: 34px;
  	font-size: 15px;
  	margin-right: 15px;
  	padding: 0 !important;
}

.categories .topic-content {
	  display: table-cell;
    font-size: 14px;
}

.category .checkbox label {
    padding-left: 20px;
}

.category .listview .tag-container {
    border: 1px solid #dedede;
    border-radius: 7px;
    font-size: 13px;
}

.subcategory .media .pull-left {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    padding: 12px;
}