.topic {
	.post-tools {
		text-transform: lowercase;
		margin: 3px;
		font-size: 12px;
		padding-left: 10px;
	}

	.post-bar {
		&.timeline.single {
			padding-bottom: 20px;
			margin-top: 10px;

			.frame {
				margin-left: 50px;
				width: ~"calc(100% - 50px)";
				@media (max-width: @screen-sm-max) {
					width: ~"calc(100% - 30px)";
				}
			}
		}

		.lv-actions.actions, .timeline.single .lv-actions.actions {
			z-index: inherit;
		}

		.thread-tools.dropdown {
			border-radius: 2px;
		}

		.btn.dropdown-toggle {
			padding: 4px;
		}
	}
}

.browsing-users {
  	text-transform: uppercase;
  	color: #777;
  	font-size: 12px;
  	margin: 0px;
}

.thread_active_users a img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.thread_active_users.active-users>div {
	display: inherit;
	margin-left: 2px;
	text-transform: none;
}

.post-tools {
	a {
		margin-right: 5px;
		text-transform: capitalize;
	}

	i {
		margin-right: 2px;
	}
}

.lv-item.media.deleted, .timeline.single.deleted .timeline-content {
	opacity: 0.3;
}

.topic-title {
	font-size: 15px;
}

.tools-title {
	margin-left: 10px;
	font-size: 11px;
}

.votes {
	.upvoted, .downvoted {
		i {
			color: #2196f3;
		}
	}
}

[component="topic"] {
	&.lv-item.media {
		padding-top: 0px;
	}
}

[component="posts"] {
	&.card-body.card-padding {
		padding-top: 0px;
	}
}