.modal .modal-header {
    padding: 10px 22px;
}

.modal .modal-body {
    padding: 20px;
    font-size: 14px;
    
    p {
        padding-left: 3px;
    }
}

.modal-footer .btn.btn-default {
    box-shadow: none !important;

    &:hover {
        background-color: #eee;
    }
}

.modal-footer .btn.btn-primary {
    box-shadow: none !important;
    color: #2196f3;
    background-color: #fff;
    &:hover {
        background-color: #eee;
    }
}