#chat-list {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat-list {
    padding: 10px 10px 0px 10px;
}

#chat-list li {
    margin-bottom: 10px;
}

#chat-list img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

#notif-list .unread {
    background-color: #dcf9ff;
}

#header #notif-list a .mark-read {
    color: #777;
    margin-right: -5px;
    padding-left: 0px;

    &:after {
        font-family: "FontAwesome";
        content: "\f10c";
        padding: 4px 1rem;
        position: relative;
        top: 0px;
    }

    &:hover:after {
        content: "\f111";
    }
}

.notifications .relTime {
    color: #555;
}

.notifications .listview .lv-item .lv-small {
    color: #333;
    white-space: normal;
}

.notifications .listview .lv-footer {
    margin-top: 10px;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.chats .listview .lv-footer {
    margin-top: 10px;
    min-height: inherit;
}

.no-notifs {
    cursor: default;
    color: #000;
    text-align: center;
}

.listview a.lv-item.no-notifs:hover {
    background: none;
    color: #000;
}